SECRET_KEY=troque-esta-chave
ALEICA_DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

# Desenvolvimento local seguro:
DB_ENGINE=django.db.backends.sqlite3
SQLITE_NAME=db.sqlite3

# MySQL/MariaDB online:
# DB_ENGINE=django.db.backends.mysql
# DB_HOST=193.203.175.85
# DB_PORT=3306
# DB_NAME=u690128405_aleica
# DB_USER=u690128405_aleica
# DB_PASSWORD=preencha-no-env-local

# Futuro PostgreSQL:
# DB_ENGINE=django.db.backends.postgresql
# DB_HOST=127.0.0.1
# DB_PORT=5432
